<h1>Dogs in the Database</h1>
<% @dogs.each do |u| %> <!-- Iterates through each user under the variable u -->
  Name: <p> <%= link_to u.name, dog_path(u) %> </p> <!-- Show the dogs name-->
  Age : <p> <%= u.age %> </p> <!-- Show the users age -->
<% end %>
<%= link_to "new", dogs_new_path %> <!-- Create a link that appears as "new" that leads to dogs_new_path -->
